# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.TestAuth.iml
# Datasource local storage ignored files
/../../../../../../:\Work\TestAuth\.idea\.idea.TestAuth\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
